@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width : 100%;
    height : 100%;
}

body{
    display : flex;
    flex-direction : column;
}

.login-box {
    @apply max-w-full h-fit p-10;
    width : 530px;
    border-radius: 49px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@layer components{
    .btn-primary {
        @apply bg-primary rounded-xl w-full text-white text-2xl font-bold p-6;
    }
}

